body {
    font-family: 'Times New Roman';
    margin: 20px;
    text-align: center;
    background-color: #333;
}

h1 {
    color: #333;
}

form {
    border: 1px solid #333;
    padding: 20px;
    display: inline-block;
    background-color: aquamarine;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
}

button {
    margin-top: 10px;
}

button#calculateButton {
    background-color: #595959;
    color: #fff;
}

button#clearButton {
    background-color: #595959;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

.result-section {
    display: none;
}

#result {
    margin-top: 20px;
    color: #333;
}

#pie {
    height: 20%;
    background-color: aquamarine;
    margin: 0.5em;
    text-align: center;
    padding: 0px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}