body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #333;
}

h1 {
    color: #333;
}

form {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: aquamarine;
}

button {
    background-color: #595959;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #595959;
}

h2 {
    color: #333;
    margin-top: 20px;
}

p {
    margin: 5px 0;
}

#averageAge {
    font-weight: bold;
}

#pie {
    height: 20%;
    background-color: aquamarine;
    margin: 0.5em;
    text-align: center;
    padding: 0px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}